
body {
	min-width: 300px;
	width: 80%;
	margin: 0 auto;
    background-color: rgb(35, 38, 46);
    color: azure;
	/* background-color: #EAEDED; */
	font-family: 'Libre Franklin', sans-serif;
}

body.hidden {
	display: none;
}

img {
    opacity: 0.8;
    transition: opacity 1s ease-in-out;
}

img:hover {
    opacity: 1;
    transition: opacity .55s ease-in-out;
}

.main {
	margin: 0 auto;
}

.main p {
	font-weight: bold;
}

.main h1 {
	font-weight: bold;
}

dl dd {
	text-indent: 30px;
	text-align: justify;
  text-justify: inter-word;
  float: left;
  display: block !important;
  margin-left: 40px;
  margin-bottom: 15px;
}

dl dt {
	font-size: 1.35em;
	float: left;
	display: block;
}

.gap {
	margin-bottom: 1em;
}

.bor-rad {
	border-radius: 3em;
}

.full {
	width: 98%;
	margin: 1em auto 0 auto;
	border-radius: 1em;
}

.cap {
	text-align: center;
	font-size: 1.5em;
	padding: 0.25em;
	margin-top: 0.5em;
	display: block;
}

.flex-container {
  padding: 0;
  width: 100%;
  list-style-type: none;
  display: flex;
}

.wrap { 
  flex-wrap: wrap;
}  

.flex-item {
	padding-top: 20px;
  width: 470px;
  height: 400px;
}

.wrap li {
  margin: 10px auto 30px auto;
}

.caption {
	font-weight: 1.5em !important;
	text-align: center;
}

.flex-item img {
	width: 500px;
	height: 300px;
}

.flex-item p {
	font-weight: normal;
	font-size: 1.2em;
}

.wiki-link {
	font-size: 1.5em;
	font-weight: normal;
	color: black;
}
.wiki-anchor {
	font-size: 1.7em !important;
	text-decoration: none !important;
	font-weight: bold;
	padding: 4px 6px;
	border-radius: 7px;
}

.bold-text {
	font-weight: bold;
}

.thanks {
	text-align: right;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 3px;
}

@media only screen and (max-width: 500px) {
	.cap {
		font-size: 1em !important;
  }

  .full {
  	width: 95%;
  	margin: 0 auto;
  }

  .flex-item {
	margin-top: 20px;
  width: 250px !important;
  height: 200px;
	}

.flex-item img {
	width: 250px !important;
	height: 150px;
	}

} 


@media only screen and (min-width: 501px) and (max-width: 700px) {
	.full {
  	width: 95%;
  	margin: 1em auto 0 auto;
  } 
}